<script type="text/x-handlebars" data-template-name="widget">
    <div class="container-fluid widget span5">
        <div class="row-fluid titlebar">
            <div class="span4 title">
                {{view.title}}
            </div>
            <div class="span8 buttons">
                <button {{action switchMode view}} class="btn">
                    {{#if view.graphMode}}
                        <i class="icon-th-list"></i>
                    {{else}}
                        <i class="icon-chevron-left"></i>
                    {{/if}}
                </button>
            </div>
        </div>

        <div class="graphHere">
        </div>
        {{#unless view.graphMode}}
            <table class="content table">
                <thead>
                    <tr>
                        <td>Cost Center</td>
                        <td>Jan</td>
                        <td>Feb</td>
                        <td>Mar</td>
                        <td>Apr</td>
                        <td>May</td>
                        <td>Jun</td>
                        <td>Jul</td>
                        <td>Aug</td>
                    </tr>
                </thead>
                <tbody>
                    {{#each costcenter in view.data}}
                        <tr>
                            <td>{{costcenter.title}} </td>
                            {{#each value in costcenter.content}}
                                <td>{{value}}</td>
                            {{/each}}
                        </tr>
                    {{/each}}
                <tbody>
            </table>
        {{/unless}}
    </div>
</script>