{{define "base"}}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script type="text/javascript" src="/js/external/jquery/jquery-2.0.3.min.js"></script>
        <script type="text/javascript" src="/js/external/bootstrap/bootstrap.min.js"></script>

        <link rel="stylesheet" type="text/css" href="/css/app.css">

        <title>Jean de Klerk</title>
    </head>
    <body>
        <div class="container jdk-main">
            <nav class="navbar navbar-default jdk-header" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Jean</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="{{if eq .Title "blog"}}active{{end}}"><a href="/">Blog</a></li>
                        <li class="{{if eq .Title "showcase"}}active{{end}}"><a href="/showcase">Showcase</a></li>
                        <li class="{{if eq .Title "about"}}active{{end}}"><a href="/about">About</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a target="_blank" href="http://www.github.com/jadekler">
                            <i class="jdk-icon fa fa-github"></i>
                            <div class="jdk-text">Github</div>
                        </a></li>
                        <li><a target="_blank" href="http://www.twitter.com/Tyrankh">
                            <i class="jdk-icon fa fa-twitter"></i>
                            <div class="jdk-text">Twitter</div>
                        </a></li>
                        <li><a target="_blank" href="http://www.linkedin.com/pub/jean-de-klerk/1a/114/59a">
                            <i class="jdk-icon fa fa-linkedin"></i>
                            <div class="jdk-text">LinkedIn</div>
                        </a></li>
                        <li><a target="_blank" href="http://stackoverflow.com/users/2255784/user2255784">
                            <i class="jdk-icon fa fa-stack-overflow"></i>
                            <div class="jdk-text">Stack Overflow</div>
                        </a></li>
                        <li><a target="_blank" href="https://github.com/jadekler/git-go-jeansite">Site Code</a></li>
                    </ul>
                </div>
            </nav>

            {{template "body" .}}

            <div class="jdk-footer-root"></div>
        </div>
        <div class="jdk-footer">
            <small><a href="mailto:jadekler@gmail.com">jadekler@gmail.com</a></small>
        </div>
    </body>
</html>

{{end}}