{{define "body"}}

<div class="container jdk-showcase">
    <div class="row">
        <div class="col-md-2 jdk-leftnav">
            <div class="list-group">
                <a href="/showcase/ember_widget" class="list-group-item {{if eq .CurrentShowcase "ember_widget"}}active{{end}}">
                    Ember Widgets
                </a>
                <a href="/showcase/ember_treetable" class="list-group-item {{if eq .CurrentShowcase "ember_treetable"}}active{{end}}">
                    Ember Treetable
                </a>
                <a href="/showcase/jquery_treetable" class="list-group-item {{if eq .CurrentShowcase "jquery_treetable"}}active{{end}}">
                    jQuery Treetable
                </a>
                <a href="/showcase/d3_concerts" class="list-group-item {{if eq .CurrentShowcase "d3_concerts"}}active{{end}}">
                    D3 Chord Diagrams
                </a>
                <a href="/showcase/circle_wave" class="list-group-item {{if eq .CurrentShowcase "circle_wave"}}active{{end}}">
                    Circles Wave
                </a>
                <a href="/showcase/logictree" class="list-group-item {{if eq .CurrentShowcase "logictree"}}active{{end}}">
                    Lexical Parsing for Conditional Logic
                </a>
            </div>
        </div>
        <div class="col-md-10">
            {{template "showcase" .ShowCase}}
        </div>
    </div>
</div>

{{end}}