{{define "body"}}

<div class="container jdk-showcase">
    <div class="row">
        <div class="col-md-2 jdk-leftnav">
            <div class="list-group">
                <a href="/showcase/ember_widget" class="list-group-item {{if eq .CurrentShowcase "ember_widget"}}active{{end}}">
                    Ember Widgets
                </a>
                <a href="/showcase/ember_treetable" class="list-group-item {{if eq .CurrentShowcase "ember_treetable"}}active{{end}}">
                    Ember Treetable
                </a>
            </div>
        </div>
        <div class="col-md-10">
            {{template "showcase" .ShowCase}}
        </div>
    </div>
</div>

{{end}}